/*  your css code here. If applicable */
body{
	margin:0;
	padding:0;
	display:flex;
	height:100vh;
	position:relative;
	/* height:100vh; */
	/* height:100%; */
	/* width:100%; */
	align-items:center;
	justify-content:center;
}
div{
	display:flex;
	border: 2px solid black;
	background-color:lightblue;
	text-align:center;
	color:purple;
	justify-content:center;
	align-items:center;
	height:200px;
	width:200px;

	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%)
}