/*  your css code here. If applicable */
body{
	display:flex;
	/* height:100%; */
	/* width:100%; */
	align-items:center;
	justify-content:center;
}
div{
	display:flex;
	border: 2px solid black;
	background-color:skyblue;
	text-align:center;
	color:purple;
	justify-content:center;
	align-items:center;
	height:200px;
	width:200px;
}